body {
	background-color:grey;
	background-image: url("img/fondo3.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

#caja {
	position:relative;
	display:inline-block;
	margin-top:5%;
	margin-left:5%;
	width:40%;
	height:80%;
	background-color: rgba(255, 255, 255, 0.3);
	border:2px solid rgba(0, 0, 0, 0.6);
	box-shadow: inset  01px 0px 10px  3px 	black;
	border-radius: 15px;
}

#info {
	position:relative;
	display:inline-block;
	margin-top:5%;
	margin-left:5%;
	width:40%;
	height:80%;
	background-color: rgba(255, 255, 255, 0.3);
	border:2px solid rgba(0, 0, 0, 0.6);
	box-shadow: inset  01px 0px 10px  3px 	black;
	border-radius: 15px;

}

#contenido {
	background:rgba(255,255,255,0.3);
	border:2px solid rgba(0, 0, 0, 0.6);
	box-shadow: inset  01px 0px 10px  3px 	black;
	display:inline-block;
	width:40%;
	height:80%;
	margin-top:5%;
	margin-left:5%;
	position:relative;
	border-radius: 15px;
}

#modojuego {
	position:absolute;
	display:inline-block;
	margin:auto;
	height:20%;
	width:100%;
	top:2%;
	height:45%;
}

#infomodo {   /* Parrafo de informacion */
	margin:0px;
	text-align:center;
	position:absolute;
	box-shadow: 0 4px 2px -2px rgb(49, 119, 240);
	clip-path: inset(-5px 0px -5px -0px);
	color: rgb(49, 119, 240);;
	background-color: rgba(0, 0, 0, 0.6);
	width:100%;
	font-size:20px;
	padding:10px 0px;
	border-radius: 15px;

}

#infodiseño {   /* Parrafo de informacion */
	margin:0px;
	text-align:center;
	position:absolute;
	box-shadow: 0 4px 2px -2px rgb(49, 119, 240);
	clip-path: inset(-5px 0px -5px -0px);
	color: rgb(49, 119, 240);
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 15px;
	width:100%;
	font-size:20px;
	padding:10px 0px;

}
.seleccionado {
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 20px 5px rgb(49, 119, 240);
	color : rgb(49, 119, 240);
	border: none;
	cursor :default;
}
.simple {
	color:rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.15);
	cursor: pointer;

}

#normal {
	position:absolute;
		top:25%;
	text-align:center;
	padding:5px;
	border-radius: 3px;
	left:15%;
	font-size:20px;
}

#modopersonalizado {
	position:absolute;
	background-color:default;
	top:25%;
	text-align:center;
	padding:5px;
	border-radius: 3px;
	right:30%;
	font-size:20px;
}

#diseño {
	position:absolute;
	display:inline-block;
	height:40%;
	width:100%;
	bottom:12%;
}

#diseñonormal {
	position:absolute;
	top:28%;
	text-align:center;
	padding:5px;
	border-radius: 3px;
	left:15%;
	font-size:20px;

}

#diseñopersonalizado {
	position:absolute;
	background-color:default;
	top:28%;
	text-align:center;
	padding:5px;
	border-radius: 3px;
	right:30%;
	font-size:20px;

}


#parametrosmodo {
	position:absolute;
	display:none;
	width:90%;
	margin:0px 5%;
	height:40%;
	bottom:5%;
	padding-top:15px;
	padding-left:10px;
	padding-bottom:0px;
	border:2px solid rgba(0, 0, 0, 0.6);
	box-shadow: inset  01px 0px 10px  3px 	black;
	color: rgb(49, 119, 240);
	font-weight: 900;
	font-size: 17px;
	border: none;
}

#pordefecto {
	position:absolute;
	display:none;
	width:90%;
	margin:0px 5%;
	height:40%;
	bottom:0%;
	padding-top:15px;
	padding-left:10px;
	padding-bottom:0px;
	border:2px solid rgba(0, 0, 0, 0.6);
	box-shadow: inset  01px 0px 10px  3px 	black;
	color: rgb(49, 119, 240);
	font-weight: 900;
	font-size: 22px;
}

#imagenfondomina {
		margin-top:5%;
}

#aplicar {
	position:absolute;
	bottom:2%;
	font-size:25px;
	padding:5px;
	border-radius:10px;
	width:90%;
	text-align:center;
	left: 50%;
	right: 50%;
	margin-left: -45%;
	margin-right: -45%;
	font-weight: 900;

}
.aplicar {
	background-color:rgb(49, 119, 240);
	color: rgba(0, 0, 0, 0.6);
	border: 2px solid rgba(0, 0, 0, 0.6);
	box-shadow:inset 01px 0px 20px 5px black;
	cursor: pointer;
}
.aplicado{
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	box-shadow:none;
   color:rgba(100, 100, 100, 1);
	cursor: default;

}


#lineafinal {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow:inset 01px 0px 20px 7px rgba(237, 122, 33, 1);
	width:100%;
	height:5%;
	position:absolute;
	bottom:0%;



}

#margenesproteccion {
	position:absolute;
	width:99%;
	height:5%;
	top:80%;
}

#proteccion {
	position:absolute;
	width:20%;
	height:90%;
	border-radius: 10px;
	box-shadow:inset 01px 0px 20px 5px white;

}

.mina {
	position:absolute;
	display:inline-block;
	width:8%;
	height:8%;
	margin:0px;
	top:0px;
	border-radius:10px;
	box-shadow:inset 01px 0px 20px 5px black;
	background-repeat:no-repeat;
	background-size: contain;
}

#ajustes {
	background-color:rgb(49, 119, 240);
	box-shadow:inset 01px 0px 20px 5px black;
	color:rgba(0, 0, 0, 0.6);
	border:2px solid rgba(0, 0, 0, 0.6);
	position:absolute;
	text-align:center;
	padding:20px 50px;
	Font-size:30px;
	border-radius:5px;
	display:inline-block;
	bottom:22%;
	left:5%;
	width:70%;

}

#start {
	background-color:rgb(10, 156, 93);
	color:rgba(0, 0, 0, 0.6);
	border:2px solid rgba(0, 0, 0, 0.6);
	box-shadow:inset 01px 0px 20px 5px black;
	position:absolute;
	text-align:center;
	padding:20px 50px;
	Font-size:30px;
	border-radius:5px;
	display:inline-block;
	bottom:5%;
	left:5%;
	width:70%;

}

.puntuacion {
	position:absolute;
	display:inline-block;
	font-size:30px;
	color:white;
	top:10%;
	left:5%;
}

.puntuacionobtenida {
	position:absolute;
	display:inline-block;
	text-align:center;
	font-size:30px;
	color:black;
	top:40%;
	left:5%;
	border:4px dashed black;
	padding: 10px;
	width:80%;
}

.puntero {
	cursor:pointer;
}

#parametrosmodo>input {
	border: none;
	border:2px solid rgba(0, 0, 0, 0.6);
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset  01px 0px 7px  2px rgb(49, 119, 240);
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	font-size: 15px;
	font-weight: 900;
	width: 20%;
	text-align: center;
}

#pordefecto>input {
	border: none;
	border:2px solid rgba(0, 0, 0, 0.6);
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset  01px 0px 7px  2px 	rgb(49, 119, 240);
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	font-size: 12px;
	font-weight: 900;
	width:98.5%;
}

#infousuario {
	position: absolute;
	height: 5%;
	width: 15%;
	top:2%;
	right: 1%;
}

#username {
	position: absolute;
	margin:0;
	padding: 0;
	left:0px;
	width: 80%;
	height: 100%;
	color:rgba(251, 251, 251, 0.75);
	line-height: 100%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	font-size: 30px;
	font-weight: 500;



}


#logout{
	position: absolute;
	margin:0;
	padding: 0;
	right: 0px;
	width: 20%;
	height: 100%;


}
#logout>img {
	position: absolute;
	right: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;

}
